<h1>You have reached the Ruby on Rails backend of the Friends DB app.  Please view the actual app at <a href="http://salomekbg.com/js-friendsdb/" target="_blank">http://salomekbg.com/js-friendsdb/</a></h1>
